/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}
@media (min-width: 801px) {
    #robot-feed {
        width: 50%;
        position: absolute;
        top: 20px;
        left: 25%;
    }
}

@media (max-width: 800px) {
    #robot-feed {
        width: 100%;
        position: absolute;
        top: 20px;
        left: 0;
    }
}