/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}
@media (min-width: 601px) {
    #robot-feed {
        width: 100%;
    }
}

@media (max-width: 600px) {
    #robot-feed {
        width: 50%;
    }
}

#robot-feed {
    position: absolute;
    top: 20px;
    left: 25%;
}